.instructor {
  padding-top: 10rem;
  padding-bottom: 7rem;

  &-box {
    width: calc(33.3333% - 3rem);
    margin-right: 3rem;
    padding: 5rem 3rem;
    border-radius: 0.4rem;
    border: 0.1rem solid $green;
    text-align: center;

    img {
      margin-bottom: 1rem;
    }

    &-name {
      h5 {
        a {
          font-size: 2.2rem;
          color: $text-black;
          text-decoration: none;
        }
      }
      span {
        color: $grey;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    &-social {
      margin-top: 1.2rem;

      a {
        width: 3.5rem;
        height: 3.5rem;
        display: inline-flex;
        background-color: $green-light;
        border-radius: 0.4rem;
        font-size: 1.6rem;
        color: $green;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        margin: 0 0.2rem;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .instructor {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 1023px) {
  .instructor {
    &-box {
      width: calc(50% - 3rem);
      margin-right: 3rem;
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .instructor {
    &-box {
      width: 100%;
    }
  }
}
